* {
    box-sizing: border-box;
}

.content-container {
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}